@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Myriad Pro Regular";
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Lato";
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conteiner {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.line {
  width: 105px;
  height: 2px;
  margin: 0 auto;
}

.bot {
  display: inline-block;
  border: 3px solid white;
  padding: 15px 40px;
}
.bot a {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  color: white;
}

.title {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  text-align: center;
}

.head {
  background: url(../img/title/03.png) center no-repeat;
  height: 1080px;
  text-align: center;
}
.head__emblem {
  padding: 165px 0 160px 0;
}
.head__line {
  background: white;
  margin: 50px auto 225px auto;
}
.head__text p {
  font-size: 34px;
  line-height: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #ffffff;
}
.head__text p:last-child {
  font-size: 26px;
  font-weight: 400;
  text-transform: none;
}
.head__bottom {
  margin: 0 0 75px 0;
}
.head__img {
  position: relative;
  bottom: 0;
  left: 0;
  -webkit-animation-name: st;
          animation-name: st;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes st {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -30px;
  }
}

@keyframes st {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -30px;
  }
}
.menu__rad {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}

.menu, menu__rad {
  height: 58px;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}
.menu__row, menu__rad__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 420px;
}
.menu__name, menu__rad__name {
  padding: 30px 0;
}
.menu__name a, menu__rad__name a {
  font-size: 15px;
  line-height: 1.2;
  color: #3c3c3c;
}
.menu__name:first-child a, menu__rad__name:first-child a {
  font-weight: 700;
  color: #ada074;
}

.about {
  padding: 130px 0 95px 0;
  text-align: center;
}
@media (max-width: 1120px) {
  .about {
    padding: 40px 0;
  }
}
.about__line {
  background: black;
  margin: 30px auto 35px auto;
}
.about__text {
  margin: 0 auto;
  max-width: 690px;
  line-height: 25px;
  font-weight: 300;
  color: #868585;
  padding: 0 0 70px 0;
}
.colums__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
}
.colums__colum {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  padding: 0 20px;
}

.colum__img {
  width: 90px;
  height: 90px;
  display: inline-block;
  border: 3px solid #f2f2f2;
  border-radius: 100%;
  padding: 25px;
}
.colum__title {
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0.16em;
  padding: 40px 0 35px 0;
}
.colum__text {
  margin: 0 auto;
  line-height: 26px;
  font-weight: 300;
  color: #868585;
  max-width: 260px;
}

.port {
  text-align: center;
  background: #f3f3f3;
}
.port__title {
  padding: 110px 0 90px 0;
}
@media (max-width: 1120px) {
  .port__title {
    padding: 40px 0 50px 0;
  }
}
.port__menu {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.port__menu__row {
  max-width: 300px;
}
.port__menu__name {
  padding: 0 0 130px;
}
@media (max-width: 1120px) {
  .port__menu__name {
    padding: 0 0 40px;
  }
}
.port__imgs__raw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -8px -14px;
}
@media (max-width: 1120px) {
  .port__imgs__raw {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.port__img {
  padding: 8px 14px;
}
.port__bottom {
  margin: 45px auto 60px auto;
  border: 3px solid black;
}
.port__bottom a {
  color: black;
}

.part {
  background: url(../img/partners/00.png) center bottom no-repeat;
  height: 390px;
  padding: 100px 0;
  position: relative;
}
.part__title {
  padding: 0 0 90px 0;
  text-align: center;
  font-size: 30.4px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.part__imgs__raw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 590px;
  margin: 0 auto;
}
.contact {
  padding: 185px 0 100px 0;
}
@media (max-width: 1120px) {
  .contact {
    padding: 40px 0 100px 0;
  }
}
.contact__line {
  background: black;
  margin: 45px auto 120px auto;
}
@media (max-width: 1120px) {
  .contact__line {
    margin: 35px auto 40px auto;
  }
}
.contact__botom {
  margin: 40px 0 0 0;
}
.contact__botom button {
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.body__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.body__form {
  text-align: right;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.body__texts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 250px;
}
.body__text p:first-child {
  line-height: 26px;
  font-weight: 300;
  padding: 0 0 40px 0;
}
.body__text p {
  font-weight: 700;
  padding: 0 0 25px 0;
}
.body__img {
  margin: 0 12px 0 0;
  display: inline-block;
  width: 29px;
  height: 29px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #1e1e1e;
  border-radius: 100%;
}
.body__img img:nth-child(1) {
  width: 9px;
  height: 15px;
  margin: 5px 7px;
}
.body__img img:nth-child(2) {
  width: 12px;
  height: 12px;
  margin: 6px;
}
.body__email {
  padding: 13px 0 0 0;
  font-weight: 700;
}
.body__email span {
  font-weight: 400;
}

.form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__name {
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: left;
}
.form__name p {
  padding: 75px 0 20px 0;
}
.form__name textarea {
  border-top: 1px solid black;
  background: #f8f7f7;
  width: 383px;
  height: 118px;
}

.input__name {
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: left;
}
.input__name:first-child {
  padding: 0 60px 0 0;
}
.input__name p {
  padding: 0 0 20px 0;
}
.input__name input {
  border-top: 1px solid black;
  background: #f8f7f7;
  width: 161px;
  height: 35px;
}

.buttom {
  position: relative;
  right: 0;
  background: 0;
  text-align: center;
  background: #3c3c3c;
  padding: 50px 0;
}
.buttom__emblem img {
  padding: 0 0 40px 0;
  margin: 0 auto;
}
.buttom__menu__row {
  max-width: 260px;
}
.buttom__menu__name {
  padding: 0 0 30px 0;
}
.buttom__menu__name a {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #a4a4a4;
}
.buttom__menu__name a:first-child {
  color: #a4a4a4;
}
.buttom__text {
  line-height: 1.2;
  color: #6c6c6c;
}